<div class="hero-container">
  <div class="hero-eq">
    <div>
      <div class="hero-eq-l hero-eq-weapon"></div>
    </div>
    <div class="hero-eq-amulet-gloves">
      <div class="hero-eq-s hero-eq-amulet"></div>
      <div class="hero-eq-m hero-eq-gloves"></div>
    </div>
    <div>
      <div class="hero-eq-m hero-eq-helm"></div>
      <div class="hero-eq-l hero-eq-body-armour"></div>
      <div class="hero-eq-m hero-eq-boots"></div>
    </div>
    <div class="hero-eq-rings">
      <div class="hero-eq-s hero-eq-ring"></div>
      <div class="hero-eq-s hero-eq-ring"></div>
    </div>
    <div>
      <div class="hero-eq-l hero-eq-weapon"></div>
    </div>
  </div>
  <div class="hero-eq-backpack">
    @for (_ of getIterable(BACKPACK_SIZE[1]); track $index; let i = $index){
      <div class="hero-eq-backpack-row">
        @for (_ of getIterable(BACKPACK_SIZE[0]); track $index; let j = $index) {
          <div (mouseenter)="onItemHover($event)" (mouseout)="onUnhoverItem($event)" (click)="onItemClick(hero.backpack.data[i][j])" class="hero-eq-s hero-eq-backpack-cell">
            @if (hero.backpack.data[i][j].data) {
              X
            }
          </div>
        }
      </div>
    }

  </div>
</div>
