<div class="hero-container">
  <div class="hero-eq">
    <div>
      <div (click)="onItemSlotClick(hero.equipment.get('weapon1'), EquipmentType.WEAPON)"
      class="hero-eq-l hero-eq-weapon"
      >
        @if (hero.equipment.get('weapon1')) {
          <img src="{{hero.equipment.get('weapon1')?.imagePath}}" alt="">
        }
      </div>
    </div>
    <div class="hero-eq-amulet-gloves">
      <div (click)="onItemSlotClick(hero.equipment.get('amulet'), EquipmentType.AMULET)" class="hero-eq-s hero-eq-amulet">
        @if (hero.equipment.get('amulet')) {
          <img src="{{hero.equipment.get('amulet')?.imagePath}}" alt="">
        }
      </div>
      <div (click)="onItemSlotClick(hero.equipment.get('gloves'), EquipmentType.GLOVES)" class="hero-eq-m hero-eq-gloves">
        @if (hero.equipment.get('gloves')) {
          <img src="{{hero.equipment.get('gloves')?.imagePath}}" alt="">
        }
      </div>
    </div>
    <div>
      <div class="hero-eq-m hero-eq-helm">
        @if (hero.equipment.get('helmet')) {
          X
        }
      </div>
      <div class="hero-eq-l hero-eq-body-armour">
        @if (hero.equipment.get('bodyArmour')) {
          X
        }
      </div>
      <div class="hero-eq-m hero-eq-boots">
        @if (hero.equipment.get('boots')) {
          X
        }
      </div>
    </div>
    <div class="hero-eq-rings">
      <div class="hero-eq-s hero-eq-ring" (click)="onItemSlotClick(hero.equipment.get('ring1'), EquipmentType.RING, 1)">
        @if (hero.equipment.get('ring1')) {
          <img src="{{hero.equipment.get('ring1')?.imagePath}}" alt="">
        }
      </div>
      <div class="hero-eq-s hero-eq-ring" (click)="onItemSlotClick(hero.equipment.get('ring2'), EquipmentType.RING, 2)">
        @if (hero.equipment.get('ring2')) {
          <img src="{{hero.equipment.get('ring2')?.imagePath}}" alt="">
        }
      </div>
    </div>
    <div>
      <div class="hero-eq-l hero-eq-weapon">
        @if (hero.equipment.get('weapon2')) {
          X
        }
      </div>
    </div>
  </div>
  <div class="hero-eq-backpack">
    <app-container [container]="hero.backpack"></app-container>
  </div>
  <div class="hero-stats">
    @for (mod of hero.mods | keyvalue; track mod.key) {
      <span>{{mod.key}}: {{mod.value}}</span>
    }
  </div>
</div>


