.hero-eq-backpack-cell {
  border: 1px solid darkgray;
}

.hero-eq-s {
  width: 2rem;
  height: 2rem;
  background: grey;
  img {
    position: absolute;
    width: 1rem;
    height: 3rem;
  }
}

.cell-green-highlight {
  background: green;
}
